@charset "UTF-8";

/**
 * 
 * @title --
 * @authors goodliang
 * @date 2016-12-22 17:02:39
 * 
 */


/*公共样式*/

body {
    // font-family: 'Helvetica Neue', Helvetica, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", "微软雅黑", Arial, sans-serif;
    font-family: 'PingFangSC-Light', 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: inherit;
}

.number {
    font-family: Arial!important;
}

.poa {
    position: absolute;
}

.por {
    position: relative;
    font-weight: normal;
}

.normal-bg {
    background: #e2e2e2 !important;
}

.hide {
    display: none !important;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.m-auto {
    margin: 0 auto;
}

.w-full {
    width: 100% !important;
}

.w-100 {
    width: 100px;
}

.lh-mini {
    line-height: 1.5em !important;
}

.lh-default {
    line-height: 1.8em !important;
}

.box-hidden {
    overflow: hidden;
}

.m-n {
    margin: 0 !important;
}

.ml-n {
    margin-left: 0 !important;
}

.mt-n {
    margin-top: 0 !important;
}

.mb-n {
    margin-bottom: 0 !important;
}

.mr-n {
    margin-right: 0 !important;
}

.mt-xs {
    margin-top: 0.357em !important;
}

.mt-sm {
    margin-top: 0.714em !important;
}

.mt-md {
    margin-top: 1.428em !important;
}

.mt-lg {
    margin-top: 2.142em !important;
}

.mt-xl {
    margin-top: 2.857em !important;
}

.mb-xs {
    margin-bottom: 0.357em !important;
}

.mb-sm {
    margin-bottom: 0.714em !important;
}

.mb-md {
    margin-bottom: 1.428em !important;
}

.mb-lg {
    margin-bottom: 2.142em !important;
}

.mb-xl {
    margin-bottom: 2.857em !important;
}

.mr-xs {
    margin-right: 0.357em !important;
}

.mr-sm {
    margin-right: 0.714em !important;
}

.mr-md {
    margin-right: 1.428em !important;
}

.mr-lg {
    margin-right: 2.142em !important;
}

.mr-xl {
    margin-right: 2.857em !important;
}

.ml-xs {
    margin-left: 0.357em !important;
}

.ml-sm {
    margin-left: 0.714em !important;
}

.ml-md {
    margin-left: 1.428em !important;
}

.ml-lg {
    margin-left: 2.142em !important;
}

.ml-xl {
    margin-left: 2.857em !important;
}

.p-n {
    padding: 0 !important;
}

.p-xs {
    padding: 0.357em !important;
}

.p-sm {
    padding: 0.714em !important;
}

.p-md {
    padding: 1.428em !important;
}

.p-lg {
    padding: 2.142em !important;
}

.p-xl {
    padding: 2.857em !important;
}

.m-xs {
    margin: 0.357em !important;
}

.m-sm {
    margin: 0.714em !important;
}

.m-md {
    margin: 1.428em !important;
}

.m-lg {
    margin: 2.142em !important;
}

.m-xl {
    margin: 2.857em !important;
}

.space-xs {
    margin: .5em 0 !important;
}

.space-sm {
    margin: 1em 0 !important;
}

.space-md {
    margin: 1.5em 0 !important;
}

.space-lg {
    margin: 2em 0 !important;
}

.fwn {
    font-weight: normal !important;
}

.fsn {
    font-style: normal !important;
}

.f12 {
    font-size: 12px !important;
}

.f13 {
    font-size: 13px !important;
}

.f14 {
    font-size: 14px !important;
}

.f15 {
    font-size: 15px !important;
}

.f16 {
    font-size: 16px !important;
}

.f18 {
    font-size: 18px !important;
}

.f20 {
    font-size: 20px !important;
}

.f24 {
    font-size: 24px !important;
}

.f26 {
    font-size: 26px !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
}

.text-hide {
    display: -webkit-box;
    display: -moz-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.text-list .column {
    margin-top: 0 !important;
}

.grey-link {
    color: #3f464b !important;
}

.grey-link:hover {
    color: #000 !important;
}

.black-link {
    color: #000
}

.black-link:hover {
    color: #09f;
}

.text-white {
    color: #fff !important;
}

.text-default {
    color: #3f464b !important;
}

.text-info {
    color: #6f7072 !important;
}

.text-muted {
    color: #949699 !important;
}

.text-blue {
    color: #09f !important;
}

.text-green {
    color: #21BA45 !important;
}

.text-teal {
    color: #00cfb3 !important;
}

.text-orange {
    color: #ff8831 !important;
}

.text-yellow {
    color: #fcb34c !important;
}

.text-red {
    color: #e85764 !important;
}

.bg-white {
    background: #fff !important;
}

.bg-gray {
    background: #f5f7fb !important;
}

.ui.small.container {
    max-width: 700px!important;
}

.hand-type {
    cursor: pointer;
}

.hand-type:hover {
    opacity: 0.8;
}

.box-radius {
    border-radius: 100% !important;
}

.default-panel {
    display: table;
    width: 100%;
    padding: 1em 1.5em;
}

.default-panel .left,
.default-panel .right {
    display: table-cell;
    width: auto;
    vertical-align: middle;
    white-space: nowrap;
}

.default-panel .content {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 0 1em;
}

.default-panel .left.top,
.default-panel .right.top {
    vertical-align: top;
}


/*框架修改*/

body.pushable {
    background: #f4f5f8
}

.ui.vertical.divider {
    left: 50% !important;
}

.ui.form .fields .field {
    clear: both;
    margin: 0 0 1em;
}

.ui.form .fields {
    margin: 0 -.5em 0;
}

.ui.secondary.pointing.menu .active.item:hover,
.ui.secondary.pointing.menu .active.item {
    border-color: #0099ff;
    color: #0099ff;
}

.ui.secondary.pointing.menu .item:hover,
.ui.secondary.pointing.menu .item {
    color: #949699;
}


/*.ui.selection.dropdown {
    min-height: 2.6428em;
    padding: 0.75em 2.1em 0.75em 1em;
}*/

.input-block {
    padding-top: 5px;
}

.input-block .ui.label {
    padding: 0.4em 1.5em;
    border-radius: 0;
}

.ui.icon.input>input:focus~i.icon {
    opacity: 0.5;
}

.fields-label {
    font-size: 0.92857143em;
    margin: 0em 0em 0.28571429rem 0em;
    position: relative;
}

.fields-label.required:after {
    margin: -0.2em 0em 0em 0.2em;
    content: '*';
    color: #e85764;
    display: inline-block;
    vertical-align: top;
}

.blue-tab .ui.tabular.menu .active.item,
.blue-tab .ui.attached.segment {
    border-radius: 0;
    border-color: #0099ff !important;
}

.blue-tab .ui.tabular.menu {
    border-color: #0099ff !important;
}

.ui.card.default,
.ui.cards.default>.card {
    border-radius: 0;
    box-shadow: 0 0 20px rgba(137, 157, 197, 0.2);
}

.ui.card.default>.image,
.ui.cards.default>.card>.image {
    border-radius: 0 !important;
}

.ui.link.cards.default .card:hover {
    cursor: pointer;
    z-index: 5;
    background: #FFFFFF;
    border: none;
    box-shadow: 0 0 20px rgba(137, 157, 197, 0.2);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.ui.items>.item>.right {
    -webkit-align-self: center;
    align-self: center;
    margin-left: 1.5em;
}

.ui.items>.item>.left {
    -webkit-align-self: center;
    align-self: center;
    margin-right: 1.5em;
}

.ui.table.default {
    border: 0 !important;
    border-radius: 0;
}

.ui.table.default th {
    font-weight: normal;
    color: #949699;
}

.ui.little.image,
.ui.little.images .image,
.ui.little.images img,
.ui.little.images svg {
    width: 50px;
    height: auto;
    font-size: .85714286rem;
}

.ui.grid>.row.mini {
    padding: .3em 0;
}

.ui.little.label {
    font-size: 12px;
    font-weight: normal;
    padding: .4em .8em;
}

.ui.little.basic.label {
    font-size: 12px;
    font-weight: normal;
    padding: .32em .8em;
}

.ui.modal>.header {
    padding: 1em 1.5em;
}

.ui.basic.modal>.header {
    border-bottom: 0;
}

.ui.basic.modal>.actions {
    border-top: 0;
}

.ui.basic.modal>.header+.actions {
    text-align: center;
}

.ui.table {
    color: #3f464b;
}

.ui.statistic>.label,
.ui.statistics .statistic>.label {
    font-weight: normal;
    color: #6f7072;
}

.ui.message {
    border-radius: 3px;
}

.ui.basic.message {
    background: none;
    border: none;
    box-shadow: none;
}

.ui.yellow.message {
    background-color: #ffefd7;
    color: #f1a948;
    box-shadow: 0 0 0 1px #fdc170 inset, 0 0 0 0 transparent;
}

.ui.yellow.message .header,
.ui.yellow.message>.close.icon {
    color: #f3a336;
}

.ui.yellow.message a {
    color: #fe9400;
}

.ui.yellow.message a:hover {
    opacity: 0.8
}

.ui.modal>.header {
    background: #09f;
    color: #fff;
}

.ui.success.modal>.header {
    background: #00cfb3;
    color: #fff;
}

.ui.warning.modal>.header {
    background: #fcb34c;
    color: #fff;
}

.ui.danger.modal>.header {
    background: #e85764;
    color: #fff;
}

.ui.modal>.header {
    background: #09f;
    color: #fff;
}

.ui.modal>.header:not(.ui) {
    font-size: 16px;
}

.ui.modal>.close {
    top: .5rem;
    right: .5rem;
    color: #fff;
    -webkit-transition: 0.3s;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
}

.ui.modal>.close:hover {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
}

.ui.default.list .list>a.item,
.ui.default.list>a.item {
    color: #6f7072;
}

.ui.default.list .list>a.item:hover,
.ui.default.list>a.item:hover {
    color: #000;
}

.ui.menu.centered {
    -webkit-justify-content: center;
    justify-content: center;
}


/*分页*/

.ui.primary.menu {
    border: 0;
    box-shadow: none;
    background: none;
}

.ui.primary.menu .active.item {
    color: #fff;
    background: #09f;
}

.ui.primary.menu .item {
    padding: 0;
    min-width: 0;
    width: 2.3em;
    border-radius: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 0.3em;
}

.ui.primary.menu {
    min-height: 2.3em;
    -webkit-justify-content: center;
    justify-content: center;
}

.ui.image {
    height: auto;
}


/* Small Modal Width */

.ui.mini.modal {
    width: 500px;
    margin: 0em 0em 0em -250px;
}

@media only screen and (max-width: 768px) {
    .ui.mini.modal {
        width: 70.4%;
        margin: 0em 0em 0em -35.2%;
    }
}


/*水波纹*/

.ripple-container {}

.ripple-container .ripple {
    background-color: rgba(255, 255, 255, 0.4);
    animation: ripple 2s forwards cubic-bezier(0, 0, 0.2, 1);
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    80% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}


/**/

body {
    background: #f4f5f8;
    color: #3f464b;
}

.visual-area {
    height: 100%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

#header+.event-main {
    padding-top: 58px;
}

.head-logo {
    float: left;
    position: relative;
}

.headBar.ui.menu {
    border-width: 0px;
    box-shadow: 0 0px 20px 0 rgba(137, 157, 197, 0.2);
    z-index: 801;
}

.headBar.ui.menu .item {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.headBar.ui.menu .noLine.item:before {
    display: none;
}

.headBar.ui.menu .left.menu .item.logo {
    padding: 0;
    width: 180px;
    text-align: center;
    display: block;
}

.headBar.ui.menu .left.menu .item.logo.auto {
    width: auto;
}

.headBar.ui.menu .left.menu .item.logo.auto:first-child {
    margin-left: 1.5em;
}

.headBar .image.avatar {
    width: 32px;
}

.headBar.ui.menu .item.logo:hover {
    background: none;
}

.headBar.ui.menu .item.logo img {
    height: 38px;
    margin: 10px auto;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    padding: 0 10px;
}

.headBar .center.menu {
    position: absolute;
    left: 50%;
    top: 6px;
    background: #fff;
    z-index: 1;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.headBar .center.menu .item {
    position: relative;
}

.headBar .center.menu .item:not(.active):focus,
.headBar .center.menu .item:not(.active):hover {
    background: none;
    color: #09f;
}

.headBar .center.menu .item.active {
    background: none;
    color: #000;
}

.headBar .center.menu .item.active:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -.4em;
    border-bottom: 2px solid #09f;
}

.topNav {
    width: 300px !important;
    z-index: 100!important;
    box-shadow: none!important;
}

.main-nav {
    width: 300px;
    padding: 30px !important;
    left: auto !important;
    right: 0 !important;
    /*    box-shadow: 0 5px 20px rgba(137, 157, 197, 0.2);*/
}

.ui.dropdown .menu .main-nav .signOut {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.main-nav>.divider {
    border-top: 0 !important;
    height: 0;
    margin: 1em 0 !important;
}

.main-nav>.item {
    display: none !important;
}

.main-nav .ui.cards.default>.card {
    color: #3f464b;
}

.main-nav .ui.cards.default>.card:hover {
    box-shadow: none;
    color: #6f7072;
}

.main-nav .ui.card>.content,
.main-nav .ui.cards>.card>.content {
    padding: .5em 0 0;
    text-align: center;
    border-top: 0;
}

.main-nav .ui.card.default,
.main-nav .ui.cards.default>.card {
    box-shadow: none;
}

.menu-more {
    position: relative;
}

.sub-title {
    margin: 2em 0 1.5em;
    min-height: 2.7em;
}

.sub-title h2 {
    margin-bottom: 0;
}

.white-wrap {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(137, 157, 197, 0.1);
}

.sub-item-title {
    position: relative;
    font-size: 14px;
}

.sub-item-title h3 {
    margin: 0;
    display: inline-block;
    font-weight: normal;
    color: #3f464b;
}

.sub-item-title em {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    background: #0099ff;
    color: #fff;
    border-radius: 50%;
    top: -3px;
    left: -40px;
    font-style: normal;
    font-size: 20px;
    display: inline-block
}


/*.sub-item-title .more {
    margin-right: -45px;
}*/

.sub-item-title .msg {
    color: #949699;
    padding: 10px 0 15px;
}

.sub-blue-title .content {
    padding-left: .5rem;
    display: table-cell;
    vertical-align: middle;
}

.sub-blue-title .icon {
    display: table-cell;
    opacity: 1;
    font-size: 1.5em;
    color: #09f;
    opacity: 0.4 !important;
    width: 1em;
    vertical-align: top;
}

.form .input-link {
    font-size: 14px;
    margin-top: -0.5em;
    margin-bottom: 1em;
}

.form .input-link a {
    display: inline-block;
    margin-right: 10px;
}

.form .input-link .label {
    margin-right: 1.5em;
}

.fluidTabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.fluidTabs .tabItem {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    border: 1px solid #e5e8ec;
    padding: .8em;
    margin-right: 1em;
    text-align: center;
    color: #6f7072;
    position: relative;
    cursor: pointer;
    background: #fff;
    border-bottom-width: 0;
}

.fluidTabs .tabItem.noLine {
    border: 0;
}

.fluidTabs .tabItem .closeBtn {
    position: absolute;
    top: -15px;
    right: -20px;
    color: #0099ff;
}

.fluidTabs .tabItem .closeBtn:hover {
    opacity: 0.8
}

.fluidTabs .tabItem.active {
    border-color: #0099ff;
    background: #0099ff;
    color: #fff;
}

.fluidTabs .tabItem:last-child {
    margin-right: 0
}

.fluidTabsCon {
    border: 1px solid #0099ff;
}

.fluidTabsCon .wangEditor-container {
    border: none;
}

.event-text {
    font-size: 16px;
    line-height: 1.7em;
    overflow: hidden;
}

.event-text p {
    margin: 0 0 1.5em;
    line-height: 1.7em;
}

.event-text img {
    max-width: 100% !important;
}

.event-text ul,
.event-text ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.swiper-container {
    overflow: hidden !important;
}

.swiper-container .swipeLink {
    position: absolute;
    z-index: 2;
}

// .swiper-button-white {
//     display: none;
// }
.swiper-container:hover .swiper-button-white {
    display: block
}

// .swiper-button-prev {
//     left: 20px !important;
// }
// .swiper-button-next {
//     right: 20px !important;
// }
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 20px !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    pointer-events: auto !important;
}

#trans-tooltip,
#tip-arrow-top,
#tip-arrow-bottom {
    display: none;
}

.targetList {
    position: absolute;
    top: 48px;
    left: 1em;
    background: #fff;
    z-index: 50;
    border-radius: 4px;
    width: calc(100% - 2em)!important;
    max-height: 214px;
    overflow: auto;
    padding: .5em 1em;
}

.ui.selection.targetList.list>.item {
    border-radius: 0;
}

.searchDate .cov-datepicker {
    padding-top: .55em!important;
    padding-bottom: .55em!important;
    border-radius: 1.4em!important;
}

.browse-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f4f5f8;
    z-index: 99999;
}

.browse-main {
    width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.browse-body {
    overflow: hidden;
    padding-top: 30px;
}

.browse-body .download {
    float: left;
    width: 50%;
}


/*.toggle-area {
    display: none !important; 
}*/

.footerBar {
    margin-top: 5em;
}

.footerBar .ui.vertical.menu {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    width: 100%;
}

.footerBar .ui.vertical.menu .item>i.icon {
    float: none;
    margin: 0 .5em 0 0;
}

.footerBar .ui.menu .item {
    padding-left: 0;
    padding-right: 0;
}

.footerBar .menu h4 {
    font-weight: normal;
    font-size: 16px;
}

.footerBar .ui.vertical.menu .menu .item {
    font-size: 1em;
}


/*sidebar*/

.leftSidebar {
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 20px rgba(137, 157, 197, 0.1) !important;
    z-index: 100 !important;
}

.sidebar-head {
    padding-top: 90px;
    padding-left: 50px;
}

.avatar-box.defautl {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.avatar-box>.avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.avatar-box.defautl>.info {
    padding-left: 10px;
    align-self: center;
    color: #6f7072;
}

.avatar-box>.info>.name {
    margin: .5em 0;
}

.avatar-box>.info>.name .icon {
    margin-right: 0 !important;
}

.avatar-box>.info>.name>strong {
    margin-right: 10px;
}

.sidebar-menu {
    margin-top: 30px;
}

.sidebar-menu>.item {
    line-height: 56px;
    display: block;
    font-size: 18px;
    color: #949699;
    padding-left: 50px;
    cursor: pointer;
}

.sidebar-menu>.item>.icon {
    margin-right: 10px;
}

.sidebar-menu>.item.active {
    background: #f7f7f7;
    color: #09f;
}

.sidebar-menu>.item:hover {
    color: #09f;
}


/*tab样式*/

.block-tab .ui.item {
    margin-bottom: 0;
    min-height: 0;
}

.block-tab>.ui.item.menu.left {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-flex-pack: start;
    flex-pack: start;
    -ms-flex-align: start;
    -webkit-flex-align: start;
    flex-align: start;
    color: #fff
}

.block-tab>.ui.item.menu.left .item {
    -ms-flex-pack: start;
    flex-pack: start;
}

.block-tab .ui.item.menu .item {
    // border-radius: 0;
    padding: 0 !important;
}

.block-tab .ui.secondary.menu .active.item,
.block-tab .ui.secondary.menu .item:hover {
    background: none;
}

.block-tab .ui.item.menu .item>span {
    display: inline-block;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 .5em;
    padding: 1.6em 0;
    border-bottom: .5em solid #f4f5f8;
    border-radius: 5px 5px 0 0;
}

.block-tab .ui.item.menu .item:first-child>span {
    margin-left: 0;
}

.block-tab .ui.item.menu .item:last-child>span {
    margin-right: 0;
}

.block-tab .ui.secondary.menu .active.item>span {
    background: #fff;
    border-bottom: .5em solid #fff;
    color: #09f;
}

.block-tab .ui.secondary.menu .item:hover>span {
    color: #09f;
}

.block-tab .ui.tab {
    background: #fff;
    padding: 30px;
}

.block-tab .space {
    background: #f4f5f8;
    height: 2em;
    font-size: 1rem;
    margin: 0 -40px;
}

.ui.secondary.pointing.easy-pointing.menu {
    border-width: 1px;
    background: #fff;
}

.ui.secondary.pointing.easy-pointing.menu .item {
    padding: 1.4em 2em;
}

.ui.secondary.pointing.easy-pointing.menu .item.active {
    border-color: transparent;
}

.ui.secondary.pointing.easy-pointing.menu .item:not(.active):active {
    border-color: transparent;
}

.header+.ui.little.label {
    position: absolute;
    margin-left: .8em;
    margin-top: -.2em;
}

.ui.five.right.rail {
    padding: 0;
    margin: 0 0 0 1em;
}

.ui.five.rail {
    width: calc(310px + 1em);
}


/* 加减 */

.spinner {
    height: 28px;
    width: 96px;
    overflow: hidden;
    display: inline-block;
    *zoom: 1;
}

.spinner button,
.spinner .value {
    text-align: center;
    display: block;
    float: left;
    height: 100%;
    line-height: 28px;
    margin: 0;
    background: none;
}

.spinner button {
    border: 0;
    width: 28px;
    color: #09f;
    padding: 0;
    outline: none;
}

.spinner button i {
    font-size: 28px;
    width: 1em;
    margin: 0;
}

.spinner .decrease {
    cursor: pointer;
}

.spinner .decrease[disabled] {
    cursor: default;
    color: #ccc;
}

.spinner .increase {
    cursor: pointer;
}

.spinner .value {
    width: 40px;
    height: 28px;
    border: 0;
    font-family: Arial;
    color: #666;
    padding: 0px;
    outline: none;
}

.spinner .value.passive {
    color: #919191
}

.spinner .error,
.spinner .invalid {
    color: #e85764
}


/*用户中心*/

.manage-wrap {}

.manage-main {
    margin: 0 30px 30px;
}

.manage-main .sub-title {
    margin: 3em 0 1.5em;
}

.manage-main .block-tab .ui.tab {
    padding: 40px;
}

.manage-sidebar {
    position: fixed;
    width: 240px;
    height: 100%;
    left: 0;
    top: 58px;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0 10px 20px rgba(137, 157, 197, 0.1) !important;
    z-index: 100 !important;
    padding-bottom: 58px;
}

.manage-content {
    margin-left: 240px;
    min-width: 1020px;
}

.manage-sidebar>.ui.vertical.menu {
    border: 0;
    box-shadow: none !important;
    width: 100% !important;
}

.manage-sidebar>.ui.vertical.menu>.item {}

.manage-sidebar>.ui.vertical.menu>.item:before {
    display: none;
}

.manage-sidebar>.ui.vertical.menu .header i.icon {
    color: #9fd6f9;
}

.manage-sidebar>.ui.vertical.menu .menu .item {
    padding: .8em 3em;
}

.manage-sidebar>.ui.vertical.menu .item .menu .active.item {
    background: #f0f7fc;
}

.manage-sidebar>.ui.vertical.menu .item .menu .active.item:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #09f;
}


/*组件修改*/

.loading-primary {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: logo-animation .5s ease-in infinite;
    animation: logo-animation .5s ease-in infinite
}

@-webkit-keyframes logo-animation {
    0% {
        background-image: url('/images/loading01.png')
    }
    50% {
        background-image: url('/images/loading02.png')
    }
    100% {
        background-image: url('/images/loading03.png')
    }
}

@-moz-keyframes logo-animation {
    0% {
        background-image: url('/images/loading01.png')
    }
    50% {
        background-image: url('/images/loading02.png')
    }
    100% {
        background-image: url('/images/loading03.png')
    }
}

@keyframes logo-animation {
    0% {
        background-image: url('/images/loading01.png')
    }
    50% {
        background-image: url('/images/loading02.png')
    }
    100% {
        background-image: url('/images/loading03.png')
    }
}

.progress .loading-primary {
    width: 40px;
    height: 40px;
    margin: 0;
    margin-left: -.8em;
    position: absolute;
    top: -1.5em;
    z-index: 802;
    left: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


/*mob*/

.headBar.ui.menu .right.menu.mobile-nav {
    display: none;
}

@media only screen and (max-width: 767px) {
    .mob-hide {
        display: none!important;
    }
    .ui.form .mob-two.fields>.wide.field {
        width: 50%!important;
    }
    .ui.form .mob-six.fields>.field {
        width: 16.66666667%!important;
    }
    .ui.primary.cards>.card {
        width: calc(33.33333% - 1.5em);
    }
    .p-lg {
        padding: 1em !important;
    }
    .ui.divider {
        margin: .5rem 0;
    }
    .headBar .center.menu {
        display: none !important;
    }
    .headBar.ui.menu .left.menu .item.logo {
        width: auto;
        padding-left: 1em;
    }
    .headBar.ui.menu .left.menu .item,
    .headBar.ui.menu .right.menu {
        display: none;
    }
    .mob-ticket-btn {
        display: none;
    }
    .headBar.ui.menu .right.menu.mobile-nav {
        display: flex;
    }
    .headBar.ui.menu .item {
        padding-left: 1em;
        padding-right: 1em;
    }
    .headBar.ui.menu .item.logo img {
        height: 34px;
    }
    #header+.event-main {
        padding-top: 52px;
    }
    #feedbackBtn {
        display: none;
    }
    .block-tab .ui.tab {
        padding: 1em;
    }
    .footerBar {
        margin-top: 1em;
    }
    .activity-steps .ui.big.steps .step {
        font-size: 1em !important;
    }
    .activity-steps .ui.big.steps .step .ui.button {
        font-size: .6em;
    }
    .wangEditor-container .wangEditor-txt {
        height: 200px!important;
    }
    #form-elements {
        display: none;
    }
    .ui.table>thead>tr {
        padding: 0!important;
    }
    .ui.mini.modal {
        width: 95%;
        margin: 0 0 0 -47.5%;
    }
    .ui.items>.item>.image.mob-img,
    .ui.items>.item>.image.mob-img>img {
        max-width: 100px !important;
        width: auto!important;
        max-height: 250px!important;
    }
}


/*loading*/

.loadding-wrap {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 9;
}

.loadding-main {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 0px;
    -moz-transform-style: preserve-3d;
    -moz-perspective: 0px;
    -webkit-animation: mydhua 5s ease infinite;
    -moz-animation: mydhua 5s ease infinite;
}

.loadding-area>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadding-area1 {
    -webkit-transform: rotatey(90deg) translatez(-75px);
    -moz-transform: rotatey(90deg) translatez(-75px);
    background: rgba(101, 81, 252, .5);
}

.loadding-area2 {
    -webkit-transform: rotatey(90deg) translatez(75px);
    -moz-transform: rotatey(90deg) translatez(75px);
    background: rgba(144, 144, 253, .5);
}

.loadding-area3 {
    -webkit-transform: rotatex(90deg) translatez(75px);
    -moz-transform: rotatex(90deg) translatez(75px);
    background: rgba(178, 178, 243, .5);
}

.loadding-area4 {
    -webkit-transform: rotatex(90deg) translatez(-75px);
    -moz-transform: rotatex(90deg) translatez(-75px);
    background: rgba(0, 206, 178, .5);
}

.loadding-area5 {
    -webkit-transform: translatez(-75px);
    -moz-transform: translatez(-75px);
    background: rgba(0, 200, 255, .5);
}

.loadding-area6 {
    -webkit-transform: translatez(75px);
    -moz-transform: translatez(75px);
    background: rgba(104, 214, 241, .5);
}

.loadding-area {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    line-height: 150px;
    text-align: center;
    font-size: 48px;
    color: white;
    background-image: url('/images/logo-white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% auto;
}

@-webkit-keyframes mydhua {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -webkit-transform-origin: center center;
    }
    50% {
        -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
        -webkit-transform-origin: center center;
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        -webkit-transform-origin: center center;
    }
}

@-moz-keyframes mydhua {
    0% {
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -webkit-transform-origin: center center;
    }
    50% {
        -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
        -webkit-transform-origin: center center;
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        -webkit-transform-origin: center center;
    }
}

.sidebar-float {
    height: 40px;
    width: 40px;
    right: 12px;
    bottom: 30px;
    position: fixed;
    display: inline-block;
    background-color: #e7eaf1;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    z-index: 999;
}

.sidebar-float:hover {
    background-color: #98a7b3;
}

.dimmer-form {
    width: 50%;
    margin: 0 auto;
}

.snapshoot-content {
    text-align: center;
    margin-bottom: 20px;
}

.snapshoot {
    cursor: default;
}

// load
@-webkit-keyframes imgFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes imgFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.lazy-img-fadein[lazy=loaded] {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: imgFadeIn;
    animation-name: imgFadeIn;
}

.lazy-img-fadein[lazy=loading] {
    width: 40px!important;
    margin: 2em auto!important;
}

.lazy-img-fadein[lazy-progressive=true] {
    width: 100%!important;
    margin: auto;
}

.lazy-img-fadein[lazy=error] {
    border-radius: 2px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.content-description {
    position: fixed;
    display: inline-block;
    font-size: 18px;
}

.image svg {
    fill: #09f;
}

.hot-card .lazy-img-fadein[lazy=error] {
    margin-top: -50%;
}

@media only screen and (min-width: 1200px) {
    .ui.cards.hot-activity>.card>.image {
        min-height: 178px;
    }
    .lazy-img-fadein[lazy=loading] {
        position: absolute;
        margin: 0;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
