@charset "UTF-8";

/**
 * 
 * @title --
 * @authors goodliang
 * @date 2016-12-29 12:34:44
 * 
 */

.create-border {
    border: 4px solid #f5f7fb;
}

.ui.money.dropdown {
    min-width: 0px;
    border: 0;
    background: none;
    padding: 0;
}

.create-border .ui.table {
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.create-border .ui.table thead th {
    color: #6f7072;
    border: 0;
    font-weight: normal;
    background: #f5f7fb;
}

.more-setting {
    text-align: center;
    color: #0099ff;
    padding-top: .2em;
}

.sub-item-title.little-title {
    padding: 1em;
    background: #f5f7fb;
}

.sub-item-title.little-title .more {
    margin-right: 0
}

.column.ui.grid.item-input > .column:not(.row) {
    padding: .5rem;
}

.item-input .ui.checkbox {
    padding: .7rem .5rem;
    display: block;
    border: 1px dashed #dde0ec;
}

.item-input .ui.checkbox:hover {
    border-color: #09f;
    color: #09f;
}

.item-input .ui.checkbox:hover label {
    color: #09f;
}

.item-input .ui.checkbox label {
    padding-left: 0;
    padding-right: 1.85714em;
}

.item-input .ui.checkbox label:before,
.item-input .ui.checkbox label:after {
    left: inherit;
    right: 0;
}

.item-input .ui.checkbox input:checked ~ label:before {
    border-color: #09f;
}

.item-input .ui.checkbox input:checked ~ label:after,
.item-input .ui.checkbox input:checked ~ label {
    color: #09f;
}

.custom-item {
    margin: 0 .5em;
}

.custom-item>.item {
    margin: .7em 0;
    padding: .5rem;
    border: 1px dashed #dde0ec;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
}

.custom-item>.item:hover,
.custom-item>.item.active {
    border-color: #09f;
    color: #09f;
}

.custom-form {
    margin: 0em 0em 0.28571429rem 0em;
}

.custom-form>label {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    text-transform: none;
    font-size: 0.92857143em;
}


/*.field,
.fields {
    white-space: nowrap;
}
*/

.field>.move,
.fields>.move {
    position: absolute;
    margin-top: 8px;
    margin-left: 6px;
}

.msg-list {
    border-top: 2px solid #fff;
    padding: 1em;
    min-height: 5em;
    background: #f5f7fb
}

.orange-panel {
    border: 1px solid #fcb34c;
}

.orange-panel .top {
    background: #fff6ea;
    color: #fcb34c
}

.orange-panel .bottom {
    background: #fcb34c;
    color: #fff;
}

.fluidTabsCon {
    background: #fff;
    position: relative;
}

.fluidTabsCon .button.wechat {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

@media screen and (max-width: 768px) {
    .create-area {
        padding: 15px;
    }
    .sub-item-title em {
        position: inherit;
    }
    .sub-item-title .more {
        margin-right: 0
    }
}


/*分类*/

.home-sorts .shape,
.home-sorts .sides {
    width: 100%;
    height: 100%;
}


/*.home-sorts .image{
    background:rgba(0, 0, 0, 1) !important;
}*/

.home-sorts .image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    /*opacity: 0.8;*/
}

.home-sorts .image .check {
    position: absolute;
    bottom: .1em;
    right: .1em;
}

.home-sorts .dimmer .center {
    padding: 1em;
}

.home-sorts .tit {
    border-bottom: 2px solid #fff;
    padding-bottom: .5em;
    margin-bottom: 1em;
    display: inline-block;
}

.home-sorts>.image>.header {
    position: absolute;
    bottom: 1em;
    left: 50%;
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.home-sorts.dimmed .default-header {
    opacity: 0;
}

.activity-steps .button {
    position: absolute;
    right: 15px;
}

.activity-steps .ui.steps .active.step:after {
    display: none !important;
}


/**转场效果**/


/*.ui.container {
    position: relative;
}
*/

.slide-fade-enter-active {
    position: absolute;
    width: 100%;
    animation: bounce-in .5s;
}

.slide-fade-leave-active {
    position: absolute;
    width: 100%;
    animation: bounce-out .5s;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    50% {
        opacity: 0.5;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounce-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-50%);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

#event .description {
    margin-top: 1em;
    color: #666
}

.ui.checkbox input.hidden {
    z-index: 9999;
    width: 100%
}

.wangEditor-container .wx_pop {
    position: fixed;
    z-index: 1001;
    top: 320px;
    width: 500px;
    padding: 20px;
    left: 50%;
    margin-left: -260px;
    text-align: left;
    background: #FFF;
    border: none;
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .2), 1px 3px 15px 2px rgba(0, 0, 0, .2);
    border-radius: .28571429rem;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    will-change: top, left, margin, transform, opacity;
}
